.header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  height: 90px;
}

.logo {
  height: 80px;
}

.header > ul {
  display: flex;
}

.login {
  height: 100%;
}

.header > ul > li {
  list-style: none;
  padding: 5px;
}

.restaurantList {
  display: flex;
  flex-wrap: wrap;
}

.RestaurantCard {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.RestaurantCard > img {
  width: 100%;
  height: 100px;
}

.ShimmerCard {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background-color: lightgray;
}

.restauarntMenu {
  display: flex;
  margin: 20px;
}

.restauarntMenu > div {
  padding: 50px;
}
